*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: #d2e7d0;
}

.form-section{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#myForm{
    border: 2px solid black;
    border-radius: 8px;
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
    background-color: #c1c1c1;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    margin: 8px 5px 40px;
    padding: 5px;
    font-size: 21px;
    background-color: #405451;
}

.enteredNumber{
    display: block;
    width: 250px;
    margin: auto;
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid #625d5d;
    background-color: #e3eeef;
}

.enteredNumber:focus{
    outline-color: rgb(68, 64, 64);
}

.inputLabel{
   display: block;
   text-align: center;
   margin: 8px;
   font-size: large;
   font-weight: bold;
   font-family: 'Baloo Bhaijaan 2', cursive;
}

.selectorOption{
    width: 200px;
    margin: 2px auto;
    margin-bottom: 15px; 
}

.myLabel{
    font-family: 'Ubuntu', sans-serif;
}

.selectTo{
    margin-left: 19px;
}

select{
    background-color: #c8d0d1;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.bothBtn{
    padding: 6px;
    margin-bottom: 12px; 
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    background-color: #c4d4d7;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.bothBtn:hover{
    background-color: #aababd;
}

.calBtn{
    width: 70px;
    display: inline-block;
    margin-left: 229px;
}

.clearBtn{
    width: 70px;
    display: inline-block;
    margin-left: 110px;
}

@media only screen and (min-width: 435px) and (max-width: 649px){
    #myForm{
        width: 400px;
    }
    .clearBtn{
        width: 60px;
        display: inline-block;
        margin-left: 60px;
    }
    .calBtn{
        width: 70px;
        display: inline-block;
        margin-left: 145px;
    }
    .responsive-layout{
        margin-top: -12px;
    }
}

@media only screen and (max-width: 434px){
    #myForm{
        width: 260px;
    }
    .enteredNumber{
        width: 200px;
    }
    .clearBtn{
        width: 60px;
        display: inline-block;
        margin-left: 10px;
    }
    .calBtn{
        width: 70px;
        display: inline-block;
        margin-left: 100px;
    }
    .responsive-layout{
        margin: -20px 0px -20px;
    }
}

